<div ng-controller="fakturaController" ng-init="init()">
	<h1 id="header" class="page-header">Sva zaglavlja fakture</h1>
	<p>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Naziv dobavljaca</th>
						<th>Naziv kupca</th>
						<th>Datum racuna</th>
						<th>Iznos za uplatu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="zaglavlje in svaZaglavlja track by zaglavlje.id"
						ng-click="setSelectedZaglavlje(zaglavlje)"
						ng-class="{'info' : selectedZaglavlje.id === zaglavlje.id}">
						<td>{{zaglavlje.nazivDobavljaca}}</td>
						<td>{{zaglavlje.nazivKupca}}</td>
						<td>{{zaglavlje.datumRacuna}}</td>
						<td>{{zaglavlje.iznosZaUplatu}} {{zaglavlje.oznakaValute}}</td>


					</tr>

					<tr>
						<td />
						<td />

						<td><button ng-disabled="iskljuci" type="submit"
								ng-click="posaljiFakturu()" class="btn btn-primary btn-block">Posalji
								fakturu</button></td>

						<td>
							<button ng-disabled="!selectedZaglavlje" type="submit"
								ng-click="posaljiNaStavku()" class="btn btn-primary btn-block">Dodaj
								stavku</button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<br />
	</div>
	<div>
		<div class="container" id="razmak">
			<form class="form-horizontal" role="blabla" name="myForm" novalidate>

				<!-- combo -->

				<div class="form-group">
					<label for="kupac" class="col-sm-3 control-label">Kupac</label>
					<div class="col-sm-6">
						<select id="kupac" disabled ng-model="kupacFirma"
							ng-options="kupac as kupac.naziv for kupac in kupci"
							class="form-control">
						</select>
					</div>
					<div>
						<button type="button" id="izaberi" class="btn btn-default"
							data-toggle="modal" data-target="#izaberiKupca">Izaberi</button>
					</div>
				</div>

				<div class="form-group">
					<label for="nazivKupca" class="col-sm-3 control-label">Naziv
						kupca</label>
					<div class="col-sm-9">
						<input type="text" id="nazivKupca" class="form-control" disabled
							placeholder="Unesi naziv kupca" name="nazivKupca"
							ng-Model="novoZaglavlje.nazivKupca" autofocus required>
					</div>
				</div>

				<div class="form-group">
					<label for="adresaKupca" class="col-sm-3 control-label">Adresa
						kupca</label>
					<div class="col-sm-9">
						<input type="text" id="adresaKupca" class="form-control" disabled
							placeholder="Unesi adresu kupca" name="adresaKupca"
							ng-Model="novoZaglavlje.adresaKupca" required>
					</div>
				</div>

				<div class="form-group">
					<label for="pibKupca" class="col-sm-3 control-label">PIB
						kupca</label>
					<div class="col-sm-9">
						<input type="text" id="pibKupca" class="form-control"
							placeholder="Unesi pib kupca" name="pibKupca" disabled
							value="kupacFirma.pib" ng-Model="novoZaglavlje.pibKupca" required>
					</div>
				</div>

				<div class="form-group">
					<label for="oznakaValute" class="col-sm-3 control-label">Oznaka
						valute</label>
					<div class="col-sm-9">
						<input type="text" id="oznakaValute" pattern="[A-Za-z]{3}" ng-maxLength="3"
							class="form-control" placeholder="Unesi oznaku valute"
							name="oznakaValute" ng-Model="novoZaglavlje.oznakaValute"
							required>
					</div>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
						<button type="submit" ng-Click="dodajZaglavlje()" ng-disabled="myForm.$invalid"
							class="btn btn-primary btn-block">Potvrdi</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
						<button type="submit" ng-Click="odustani()"
							class="btn btn-primary btn-block">Odustani</button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!--  MODALNI ZA KUPCA -->
	<div id="izaberiKupca" class="modal fade" role="dialog"
		style="color: black;">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Izaberi kupca</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Naziv</th>
								<th>Adresa</th>
								<th>PIB</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="kupac in kupci" ng-click="setSelectedKupac(kupac)"
								ng-class="{'info' : kupacFirma===kupac}">
								<td>{{kupac.naziv}}</td>
								<td>{{kupac.adresa}}</td>
								<td>{{kupac.pib}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>